{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <h1>Delete Profile</h1>
    <hr>

    <h3 class="form-title">Are you sure you want to delete your profile?</h3>

    <div id="confirm">
        <div id="yes">
            <form action="/delete" method="POST">
                <button class="btn btn-danger" name="confirm" value="yes" type="submit" id="yes">Yes</button>
            </form>
        </div>
    
        <div id="no">
            <form action="/delete" method="POST">
                <button class="btn btn-danger" name="confirm" value="no" type="submit" id="no">No</button>
            </form>
        </div>
    </div>
    
    
{% endblock %}
