{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/deleteNote.js"></script>
    <script src="/static/js/shareNote.js"></script>
    <script src="/static/js/shareUsernames.js"></script>
    <h1>Welcome to my final project</h1>
    <hr>

    <div class="textbox">
        <form action="/" method="POST">
            <div class="form-group">
                <textarea name="textbox" id="textbox" placeholder="Write your note here" cols="86" rows="10"></textarea>
                <div id="count">
                    <p>1000 characters left</p>
                </div>
            </div>
            <div class="sameline">
                <button class="btn btn-primary" type="submit" name="submit" id="submit" value="submit">Submit</button>
            </div>
            <div class="sameline">
                <div class="form-group">
                    <a id="sharebutton" href="#" onclick="shareNote('sharebutton', 'shareform'); return false">Share note</a>
                    <div id="shareform" class="form-usernames">
                        <input autocomplete="off" autofocus class="form-control" name="share" id="share" placeholder="Usernames" type="text" maxlength="50">
                        <!-- <label for="share">Write the username of the profile you want to share this note with. If you want to share with several profiles, write each username seperated by a space.</label> -->
                    </div>
                </div>
            </div>
        </form>
        <script src="/static/js/textbox.js"></script>
        <hr>
    </div>

    {% for i in range(rows|length) %}
        <div class="card border-dark mb-3">
            <div class="card-header"><span class="left"><u>{{ rows[i]["author"] }}</u></span><span class="right timestamp" title="{{ rows[i]['timestamp'] }}" id="time{{ rows[i][id] }}">{{ rows[i]["timestamp"] }}</span></div>
            <div class="card-body text-dark">
                {% for j in range(rows[i]["text"].splitlines()|length) %}
                    <p class="card-text">{{ rows[i]["text"].splitlines()[j] }}&nbsp;</p>
                {% endfor %}
            </div>
            <div class="card-footer bg-transparent">
                {% if share_data[i]["shares"] != 1 %}
                    <p onmouseover="showUsernames(this, '{{ share_data[i][usernames] }}')" onmouseout="hideUsernames(this, '{{ share_data[i][shares] - 1 }}')" class="sharecount">Shared with {{ share_data[i]["shares"] - 1 }} other profile(s)</p>
                {% endif %}
                    <span class="left">
                    <form action="/" method="POST">
                        <div class="form-group form-share">
                            <a id="sharebutton{{ rows[i][id] }}" href="#" onclick="shareNote('sharebutton{{ rows[i][id] }}', 'shareform{{ rows[i][id] }}'); return false">Share</a>
                            <div id="shareform{{ rows[i][id] }}" class="form-usernames">
                                <input autocomplete="off" autofocus class="form-control" name="share" id="share" placeholder="Usernames" type="text" maxlength="50">
                                <button class="btn btn-primary" type="submit" name="submit" value="{{ rows[i][id] }}">Share</button>
                            </div>
                        </div>
                    </form>
                </span>
                <span class="right">
                    <a href="#" onclick="deletenote(this, '{{ rows[i][id] }}'); return false">Delete</a>
                </span>
            </div>
        </div>

        <script>
            document.getElementById("time{{ rows[i][id] }}").innerHTML = moment("{{ rows[i]['timestamp'] }}").fromNow();
        </script>
    {% endfor %}

{% endblock %}
