{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/deleteNote.js"></script>
    <script src="/static/js/shareNote.js"></script>
    <h1>Welcome to my final project</h1>

    {% for i in range(rows|length) %}
        <p><u>{{ rows[i]["author"] }}</u></p>
        <p title="{{ rows[i]['timestamp'] }}" class="timestamp" id="time{{ rows[i][id] }}"><i>{{ rows[i]["timestamp"] }}</i></p>
        <script>
            document.getElementById("time{{ rows[i][id] }}").innerHTML = moment("{{ rows[i]['timestamp'] }}").fromNow();
        </script>

        {% if share_data[i]["shares"] != 1 %}
            <p id="sharecount{{ rows[i][id] }}" onclick="shareNote('sharecount{{ rows[i][id] }}', 'sharenames{{ rows[i][id] }}'); return false">Shared with {{ share_data[i]["shares"] - 1 }} other profile(s)</p>
            <p id="sharenames{{ rows[i][id] }}" style="display: none;">Shared with {{ share_data[i]["shares"] - 1 }} other profile(s): {{ share_data[i]["usernames"] }}</p>
        {% endif %}

        {% for j in range(rows[i]["text"].splitlines()|length) %}
            <p>{{ rows[i]["text"].splitlines()[j] }}</p>
        {% endfor %}

        <form action="/" method="POST">
            <div class="form-group">
                <a id="sharebutton{{ rows[i][id] }}" href="#" onclick="shareNote('sharebutton{{ rows[i][id] }}', 'shareform{{ rows[i][id] }}'); return false">Share</a>
                <div id="shareform{{ rows[i][id] }}" style="display: none;">
                    <input autocomplete="off" autofocus class="form-control" name="share" id="share" placeholder="Share your note" type="text" maxlength="50">
                    <!-- <label for="share">Write the username of the profile you want to share this note with. If you want to share with several profiles, write each username seperated by a space.</label> -->
                    <button class="btn btn-primary" type="submit" name="note_id" value="{{ rows[i][id] }}">Share</button>
                </div>
            </div>
        </form>

        <a id="{{ rows[i][id] }}" href="#" onclick="deletenote(this); return false">Delete</a>

        <hr>
    {% endfor %}

{% endblock %}
