<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
        <title>CS50 Final Project | {% block title %}{% endblock %}</title>
    </head>
    <body>

        <!-- Sidebar -->
        <div class="sidenav">
            {% if session.user_id %}
            <a href="/">Home</a>
            <a href="/post">Write Note</a>
            <div class="id">
                <hr>
                <p><u>Welcome, {{ session.user_name }}</u></p>
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
            </div>
            {% else %}
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
            {% endif %}
        </div>

        {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary border text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
        {% endif %}

        <!-- Main content -->
        <main class="p-5">
            <div class="main">
                {% block main %}{% endblock %}
            </div>
        </main>
    </body>
</html>
