{% extends "layout.html" %}


{% block title %}
    Submit
{% endblock %}

{% block main %}
    <form action="/submit" method="POST">
        <div class="form-group">
            <textarea name="textbox" id="textbox" cols="75" rows="10"></textarea>
            <div id="count">
                <p>1000 characters left</p>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
    </form>
{% endblock %}

{% block script %}
    <script src="/js/textbox.js"></script> <!-- Doesn't work, fucking 404 BULLSHIT. Only works in static folder for some fucking reason -->
{% endblock %}
